@model IEnumerable<GraniteHouse5.Models.SpecialTags>
@{
    ViewData["Title"] = "Index";
}

<br />
<br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Special Tags List </h2>
    </div>

    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Special Tag </a>
    </div>
</div>

<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(pt => pt.Name)
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(pt => item.Name)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="@item.Id" />
                </td>
            </tr>
        }
    </table>
</div>